In [36]:
import pandas as pd
import spotipy
from spotipy.oauth2 import SpotifyClientCredentials
import config
import random

In [22]:
df=pd.read_csv("./kmeans.csv")
hot_songs=pd.read_csv("./df.csv")

In [23]:
df

,Unnamed: 0,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,duration_ms,time_signature,popularity,cluster
0,0,0.533,0.638,4,-7.130,1,0.0341,0.2020,0.000000,0.0729,0.937,156.663,153760,4,53,3
1,1,0.612,0.924,9,-3.877,1,0.0316,0.1590,0.000043,0.1030,0.960,115.953,295987,4,52,9
2,2,0.741,0.727,5,-4.174,0,0.1510,0.0205,0.000000,0.2640,0.370,130.023,263360,4,0,0
3,3,0.597,0.463,7,-5.528,1,0.0371,0.8240,0.000000,0.1070,0.227,115.837,229840,4,0,1
4,4,0.743,0.766,0,-6.375,1,0.0265,0.0873,0.000000,0.5090,0.610,127.960,289133,4,71,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4932,4932,0.619,0.917,5,-2.582,1,0.0507,0.0233,0.000012,0.0986,0.552,131.002,200347,4,51,9
4933,4933,0.497,0.590,2,-11.203,0,0.0296,0.1390,0.000007,0.3780,0.969,142.027,137480,4,49,4
4934,4934,0.532,0.708,10,-9.162,1,0.0339,0.5510,0.000000,0.3180,0.887,138.490,177067,4,25,6
4935,4935,0.502,0.750,10,-7.603,1,0.0312,0.0256,0.000011,0.1880,0.904,128.099,146760,4,5,5
4936,4936,0.538,0.604,2,-10.936,0,0.0262,0.5570,0.000000,0.1620,0.373,102.839,223160,4,52,4

In [24]:
#drop unnamed
df.drop(columns=["Unnamed: 0"],inplace=True)

In [28]:
hot_songs.drop(columns=["Unnamed: 0"],inplace=True)

In [30]:
#rename columns:
hot_songs = hot_songs.rename(columns={'Rank': 'rank', 'Song Title': 'title', "Song Artist": "artist", "Year": "year", "Genre": "genre", "Decade": "decade"})

In [26]:

sp = spotipy.Spotify(auth_manager=SpotifyClientCredentials(client_id= config.client_id,
                                                           client_secret= config.client_secret))

In [31]:
hot_songs

,rank,title,artist,year,genre,decade
0,57,1999,Prince,1983,Popular,1980
1,20,(Everything I Do) I Do It For You,Bryan Adams,1991,Ballad,1990
2,46,(I Can't Get No) Satisfaction,Rolling Stones,1965,Oldies,1960
3,15,(I've Had) The Time Of My Life,Bill Medley & Jennifer Warnes,1987,Ballad,1980
4,47,(Let Me Be Your) Teddy Bear,Elvis Presley,1957,Oldies,1950
...,...,...,...,...,...,...
595,93,You're The Inspiration,Chicago,1984,Ballad,1980
596,34,You're The One That I Want,John Travolta & Olivia Newton,1978,Popular,1970
597,68,You've Lost That Lovin' Feelin',Righteous Brothers,1964,Oldies,1960
598,53,Your Love,Outfield,1985,Popular,1980
599,37,Your Song,Elton John,1971,Ballad,1970

In [37]:
#random choice
recommendations= random.choice(hot_songs.title)

In [38]:
def recommend_plus_artist():
    
    ask_song=input("Welcome to Gnoosic! Tell me your favorite song: ").lower().title()
#  ask_artist=input("Which artist?") # input artist
    
    if len(ask_song) == 0: #if input is empty ask again
        ask_song=input("Still waiting for your song: ").lower().title()
#typos:

#if same name of song then ask for artist:
        
    if ask_song in list(hot_songs["title"]):
            return "Good choice! What do you think about:"  + " " + recommendations
        
        #if music doenst exist-> ask for artist
        

    if ask_song not in list (hot_songs["title"]):
        ask_artist=input("Couldn't find a match. Maybe I can help you if you tell me the artist? Artist:").lower().title()
        
    if ask_artist in list(hot_songs["artist"]):
        return "Good choice! What do you think about:"  + " " + recommendations
    
    else:
        return "Sorry there is no hot music for you"

In [40]:
recommend_plus_artist()

Welcome to Gnoosic! Tell me your favorite song: blbal
Couldn't find a match. Maybe I can help you if you tell me the artist? Artist:prince

"Good choice! What do you think about: Ain't No Mountain High Enough"